@import "../variables/Variables.scss";
.dashboard-count {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem 2rem;
  border-radius: 1.5em 1.5em 0.5em 0.5em;
  box-shadow: $shadow;
}

.dashboard-count {
  .dashboard-count-one {
    font-size: 2rem;
    color: $darkBlue;
  }

  .dashboard-count-two {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;

    .dashboard-count-num {
      font-size: 2rem;
      color: $darkBlue;
    }

    span {
      span {
        color: $darkBlue;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
