@import "../variables/Variables.scss";
.dashboard-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 70%;
  margin-top: 3rem;
}

.dashboard-search {
  input {
    flex: 1;
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: $shadow;
    padding: 0 1rem;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 20%;
    height: 3rem;
    border: none;
    background-color: $lightBlue;
    color: $white;
    border-radius: 0.3rem;
    transition: all 0.03s ease-in;

    &:hover {
      background-color: $darkBlue;
    }
  }
}
