@import "../variables/Variables.scss";
.dashboard-container {
  min-height: 100vh;
  width: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  .dashboard-greeting {
    color: $white;
    margin-bottom: 2rem;
    span {
      color: #2dc6a0;
      font-weight: 600;
    }
  }
}
