@import "../variables/Variables.scss";
.dashboard-table {
  //   background-color: $white;
  margin-top: 1rem;
}

.dashboard-table-head {
  color: $darkBlue;
  text-transform: uppercase;
  font-weight: 600;
}

.dashboard-table-head,
.dashboard-table-data-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.dashboard-table-data-container-scroll {
  height: 250px;
  overflow-y: scroll;
  padding: 0 0.2rem;
}

.status {
  color: #00a14b;
}

.disbursed {
  color: #eab054;
}

.actions {
  font-size: large;
  color: blue;
  cursor: pointer;
}
