// colors
$darkBlue: #1f3d83;
$lightBlue: #097bbf;
$white: #fff;
$gray: #515151;
$formInput: #ebebeb;

//shadow
$shadow: 0 0 5px rgba(0, 0, 0, 0.05);

// fonts
$primaryFont: "Source Sans Pro", sans-serif;
